* {
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  background: white;
  padding: 2em;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
}

body {
  background: $light-grey;
  min-height: 100vh;
  font-family: $font-text-light;
  color: $black;
}

h1 {
  font-family: $font-text-bold;
  color: $black;
}

p {
  font-size: 2.5rem;
  line-height: 1.2;
  color: $black;
}

a {
  transition: color 0.7s ease 0s;
}

p::selection {
  
}

h1::selection {
  
}

