* {
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  background: white;
  padding: 2em;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
}

body {
  background: $light-grey;
  min-height: 100vh;
  font-family: $font-text-light;
  color: $black;
}

h1,
h2 {
  font-family: $font-text-bold;
  color: $black;
  letter-spacing: 4px;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2.1rem;
  text-align: center;
  line-height: 1.4;
  color: $black;

  @media (max-width: #{$bp-small}){
    font-size: 1.8rem;
  }

  @media #{$mq-large}{
    text-align: left;
  }
}

a {
  //transition: color 0.7s ease 0s;
}

p::selection {
  background: $gold;
}

h1::selection,
h2::selection {
  background: $violet;
}

a::selection {
  background: $turquoise;
}

img::selection {
  background: $black;
}

