// Colors 
$violet: #d57fff;
$gold: #ffca00;
$turquoise: #07cca4;
$baby-blue: #a3dcf6;
$pink: #f985c4;
$blue: #42baeb;
$light-grey: #F6F6F6;
$black: #212121;


// Breakpoints
$bp-small: 30em; // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 80em; // 1280px
$bp-xxlarge: 120em; // 1920px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
