@mixin project-link {
  text-decoration: none;
  font-size: 2.1rem;
  color: $black;
  
  &:nth-child(1){
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, transparent 65%, $violet 0);
    transition: background-size .25s ease;
    background-size: 0% 100%;
    border-bottom: 1px solid $violet;

    &:hover {
      background-size: 100% 100%;
      background-image: linear-gradient(180deg, transparent 65%, $violet 0);
    }
  }

  &:nth-child(2){
    &:hover {
      color: $violet;
    }
  }
}

.project {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 .5rem;

  @media #{$mq-large}{
    width: 80%;
  }

  @media #{$mq-xxlarge}{
    width: 70%;
  }

  img {
      display: block;
      max-width: 100%;

      @media #{$mq-xxlarge}{
        max-width: 90%;
        margin: 0 auto;
      }
    }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4rem 0;

    @media #{$mq-large}{
      flex-direction: row;
    }

    h1, h2 {
      font-family: $font-text-bold;
      padding: 1rem 0 2rem 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.7rem;
      position: relative;
      
      @media #{$mq-medium}{
        font-size: 2.7rem;
      }

      @media #{$mq-large}{
        width: 50%;
        text-align: left;
        position: absolute;
        font-size: 3.3rem;
      }
    }

    h2 {
      font-size: 1.5rem;
      padding: 1rem 0 2rem 0;
    }

    &--dev {
      flex-direction: column;
      padding: 0 0 4rem 0;
    }
  }

  &__desc {
    width: 95%;
    margin: 0 auto;

    @media #{$mq-large}{
      width: 60%;
      margin: 10.1rem 0 1rem 0;
      padding-right: 6rem;
    }

    &--dev {
      margin-top: 5.1rem;

      @media (max-width: #{$bp-medium}){
        margin-top: 0.1rem;
      }
    }
  }

  &__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
    
    @media #{$mq-medium}{
      width: 25%;
    }

    @media #{$mq-large}{
      width: 45%;
      margin: 4rem 0 8rem 0;
    }

    @media #{$mq-xlarge}{
      width: 30%;
    }

    @media #{$mq-xxlarge}{
      width: 25%;
    }

    a {
      @include project-link;
    }
  }

  &__images {
    width: 60%;
    padding-top: 5rem;

    @media (max-width: #{$bp-medium}){
      width: 80%;
      margin: 0 auto;
    }

    img {
      box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
      margin-bottom: 10rem;

      @media (max-width: #{$bp-small}){
        margin-bottom: 3rem;
      }
    }
  }

  &__wireframes {
    width: 95%;
    margin: 0 auto;
    margin-top: 4rem;
    
    @media #{$mq-large}{
      width: 40%;
      margin-top: 0;
    }

    img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

      @media (max-width: #{$bp-small}){
        max-width: 70%;
      }
    }
  }
}




